:root {
    --md-primary-fg-color: #b5651d;
    --md-accent-fg-color: var(--md-primary-fg-color);
}
[data-md-color-scheme="slate"] {
    --md-hue: 225;
}

[data-md-color-scheme="slate"] .md-header {
    background-color: var(--md-primary-fg-color);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.4);
}

[data-md-color-scheme="slate"] .md-tabs {
    background-color: rgba(70, 45, 25, 0.4);
}

.md-tabs__list:first-child {
    margin-left: 23%;
}

.md-typeset h1 {
    color: var(--md-typeset-a-color);
    font-weight: 600;
}
